$primary: #dc0a2d;
$bug: #a7b723;
$darkd: #75574c;
$dragon: #7037ff;
$electric: #f9cf30;
$fairy: #e69eac;
$fighting: #c12239;
$fire: #f57d31;
$flying: #a891ec;
$ghost: #70559b;
$grass: #74cb48;
$ground: #dec16b;
$ice: #9ad6df;
$normal: #aaa67f;
$poison: #a43e9e;
$psychic: #fb5584;
$rock: #b69e31;
$steel: #b7b9d0;
$water: #6493eb;

$background: #efefef;
$dark: #212121;
$light: #e0e0e0;
$medium: #666;
$white: #fff;

:export {
  primary: $primary;
  bug: $bug;
  darkd: $darkd;
  dragon: $dragon;
  electric: $electric;
  fairy: $fairy;
  fighting: $fighting;
  fire: $fire;
  flying: $flying;
  ghost: $ghost;
  grass: $grass;
  ground: $ground;
  ice: $ice;
  normal: $normal;
  poison: $poison;
  psychic: $psychic;
  rock: $rock;
  steel: $steel;
  water: $water;

  background: $background;
  dark: $dark;
  light: $light;
  medium: $medium;
  white: $white;
}
