@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@import "colors";

body {
  background-color: $background;
}

h1 {
  font-family: $primary-font-family;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  color: $dark;
}
